.service-detail-client {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Khoảng cách giữa các phần tử */
  padding: 20px;
  color:black;
}

.service-detail-top {
  margin-top: 2px; /* Căn lề trên */
  margin-bottom: 1px;
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden; /* Đảm bảo viền bo tròn áp dụng cho nội dung bên trong */
}

.service-detail-bottom {
  display: flex;
  gap: 20px; /* Khoảng cách giữa hình ảnh và thông tin */
  margin-bottom: 20px;
  
}

.service-detail-bottom:hover {
  transform: translateY(-5px); /* Move the section up slightly on hover */
  transition: transform 0.3s ease; /* Add a smooth transition */
}


.service-detail-image-container {
  flex: 1;
  position: relative;
}

.service-detail-image {
  width: 100%;
  height: 450px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.service-detail-image:hover::after {
  content: ''; /* Add an overlay element */
  position: absolute; /* Position the overlay */
  top: 0; /* Position from the top */
  left: 0; /* Position from the left */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  opacity: 1; /* Initially transparent */
  transition: opacity 0.3s ease; /* Add a smooth transition */
}

.service-detail-info {
  flex: 2;
  background-color: #f9f9f9; /* Màu nền cho ô thông tin */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  opacity: 0; /* Initially hidden */
  transition: opacity 0.5s ease;
}

.service-detail-bottom:hover .service-detail-info {
  opacity: 1; /* Fade in the room information on hover */
}

.service-detail-info h2 {
  margin-top: 0;
}

.service-detail-info p {
  margin-bottom: 10px;
}
