.router_main{
    display: flex;
    flex-direction: column;
}
.admin_router{
    display: flex;
    flex-direction: row;
}

.admin{
    width: 100%;
}

.router_main .btnMenu{
    position:fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    width: 30px;
    height: 30px;
}

.cart{
    position:fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: saddlebrown;
}

.cart img{
    position: fixed;
    right: 25px;
    bottom: 25px;
    width: 20px;
    height: auto;
    margin:auto;
}

.returnToTop{
    position:fixed;
    bottom: 10px;
    left: 10px;
    z-index: 1000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: saddlebrown;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(42, 106, 165);
    border-radius: 10px;
}
