.side{
    width: 200px;
    height: 100vh;
    background-color: #f5f5f5;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding-top: 60px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    
}

.side .buttonGroup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.side .buttonGroup button{
    width: 100%;;
    padding: 20px 0;
    margin-bottom: 10px;
    border: none;
    background-color: transparent;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.side .buttonGroup button:hover{
    background-color: #e0e0e0;
}