.service .serviceTagGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}
.service{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.service h1{
  text-align: center;
}

.service .showMore{
  width: 200px;
  height: 50px;
  border-width: 0px;
  background: black;
  color:wheat;
  margin: 10px;
}
.service .button{
  display: flex;
}
.service .showMore:hover{
  background: rgb(51, 51, 51);
  cursor: pointer;
}
.service .searchbox{
  align-items: center;
  display: flex;
  position: relative;
  width: 80%;
}
 
.service .searchbox img{
  width: 20px;
  position: absolute;
  right: 10px;
  transition: all ease-in-out 0.5s;
}

.service .searchbox img:hover{
  transform: scale(1.5);
  cursor: pointer;
}

.service .searchbox input{
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border-style: solid;
  padding: 10px;
}


.service h2{
  text-align: center;
  margin: 20px;
  color:white;
}