.roomPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
    padding: 10px;
    text-align: center;
}

.roomPage table{
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.roomPage table th{
    background-color: #f5f5f5;
    color: #333;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #ddd;
}

.roomPage table td{
    padding: 10px;
    border: 1px solid #ddd;
}
.roomPage table tr{
    color:#333;
}
.roomPage table tr:nth-child(even){
    background-color: #f9f9f9;
}

.roomPage table tr:nth-child(odd){
    background-color: #f1f1f1;
}

.roomPage table tr:hover{
    background-color: #f1f1f1;
}

.roomPage table button{
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}