.roomList{
    background: #a0a0a0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    /* width: 50%; */
    margin: 10px;
    border-radius: 15px;
    padding: 20px;
    min-width: 400px;
}

.roomItems{
    position: relative;
}
.roomItems .addToCart{
    position: absolute;
    top: 0;
    right: 0;
    background: #0084ff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.booking h2{
    text-align: center;
    padding: 20px;
    font-size: 50px;
    font-weight: bold;
    color:white;
}

.booking p{
    text-align: center;
    color:white;
}
